* {
    margin: 0;
    padding: 0;
}

/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.7s;
    padding: 10px 20px;
    z-index: 10;
    background: #fff;
}

header.abajo,
nav.menu-open,
.sidebar.open+main,
.sidebar.open~header.abajo {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo-menu {
    display: flex;
    align-items: center;
}

.logo {
    color: black;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 2px;
    text-decoration: none;
    margin-right: 20px;
}

nav {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
}

ul li a {
    font-family: 'Montserrat', sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    margin: 0 15px;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
    font-size: 0.8em;
}

/* Header - Sidebar */

.sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250x;
    height: 100vh;
    background-color: #f1f1f1;
    transition: right 0.3s ease-in-out;
    opacity: 95%;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    color: black;
    cursor: pointer;
    margin-left: auto;
    margin-top: 6px;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        padding-top: 20px;
    }

    .logo-menu {
        width: 100%;
    }

    .logo {
        margin-right: 0;
        text-align: center;
    }

    nav {
        margin-top: 10px;
    }

    ul {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .sidebar.open {
        right: 0;
    }
}

/* Main */

.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 11;
}

.whatsapp-icon:hover {
    background-color: #128c7e;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}