* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    background-color: white;
}

/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.7s;
    padding: 10px 20px;
    z-index: 10;
    background: #fff;
}

header.abajo,
nav.menu-open,
.sidebar.open+main,
.sidebar.open~header.abajo {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo-menu {
    display: flex;
    align-items: center;
}

.logo {
    color: black;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 2px;
    text-decoration: none;
    margin-right: 20px;
}

nav {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
}

ul li a {
    font-family: 'Montserrat', sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    margin: 0 15px;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
    font-size: 0.8em;
}

ul li a:hover {
    color: #007ACC;
    transition: 0.1s;
}

/* Header - Sidebar */

.sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background-color: #f1f1f1;
    transition: right 0.3s ease-in-out;
    opacity: 95%;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.menu-toggle {
    display: none;
    font-size: 26px;
    color: #007ACC;
    cursor: pointer;
    margin-left: auto;
    margin-top: 4px;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        padding-top: 20px;
    }

    .logo-menu {
        width: 100%;
    }

    .logo {
        margin-right: 0;
        text-align: center;
    }

    nav {
        margin-top: 10px;
    }

    ul {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .sidebar.open {
        right: 0;
    }
}

/* Main */

main {
    margin-top: 85px;
    font-family: 'Montserrat', sans-serif;
}

.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 11;
}

.whatsapp-icon:hover {
    background-color: #128c7e;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.boton-menu {
    color: white;
    background-color: #007ACC;
    border: 2px solid #007ACC;
    border-radius: 24px;
    padding: 16px 18px;
}

.boton-menu:hover {
    background-color: #007ACC;
    color: white;
}

.color-pag-activa {
    color: #007ACC;
}

.botones-principales {
    display: flex;
    justify-content: center;
}

.boton-principal-negro {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 12px 24px;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
}

.boton-principal {
    display: inline-block;
    background-color: #007ACC;
    color: white;
    padding: 12px 24px;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
}

.boton-principal:hover,
.boton-principal-negro:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.titulo-principal {
    color: #007ACC;
    font-weight: bold;
    font-size: 86px;
}

.parrafo-principal {
    font-weight: 500;
    font-size: 24px;
}

.foto-principal {
    width: 500px;
}

.titulo-segundo {
    font-weight: bold;
    font-size: 54px;
}

.titulo-segundo-2 {
    font-weight: 550;
    font-size: 24px;
    color: #007ACC;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 20px;
}

.cards {
    background-color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.cards i {
    color: #007ACC;
    font-size: 36px;
}

.cards p {
    font-weight: 550;
    font-size: 18px;
}

.cards:hover,
.cards:hover i {
    background-color: #007ACC;
    color: white;
}

@media (max-width: 768px) {
    main {
        margin-top: 110px;
    }

    .titulo-principal {
        font-size: 32px;
    }

    .parrafo-principal {
        font-size: 18px;
    }

    .foto-principal {
        width: 350px;
    }

    .titulo-segundo {
        font-size: 24px;
    }

    .titulo-segundo-2 {
        font-size: 16px;
    }
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}